/*
// This file is part of voting-ui-new.
// 
// It is subject to the terms and conditions defined in
// file 'LICENSE.', which is part of this source code package.
//
// @author Jonas Bentke 
// @version 0.1
// @copyright 2018 by Slock.it GmbH
*/

.fix-footer {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    overflow:hidden;
    background-color: rgb(180, 180, 180);
}

.footer-text {
    padding: 2rem 3rem 3rem;
}