/*
// This file is part of voting-ui-new.
// 
// It is subject to the terms and conditions defined in
// file 'LICENSE.', which is part of this source code package.
//
// @author Jonas Bentke 
// @version 0.1
// @copyright 2018 by Slock.it GmbH
*/

.tile-flexwrap {
    flex-wrap: wrap
}

.hr-page-breaker {
    height: 4px;
    background-color:rgb(0, 0, 0);
    opacity: 0.6;
}