/*
// This file is part of voting-ui-new.
// 
// It is subject to the terms and conditions defined in
// file 'LICENSE.', which is part of this source code package.
//
// @author Jonas Bentke 
// @version 0.1
// @copyright 2018 by Slock.it GmbH
*/

.no-padding {
    padding-bottom: 0.3rem!important;
    padding-top: 0.3rem!important;
    padding-right: 0rem!important;
    padding-left: 0rem!important;
}

.history-column {
    text-align: left;
    color: darkgray;
}

.padding-section-top {
    padding-top: 8rem!important;
}